
body{
  font-family : "Titillium Web", Helvetica, Arial, sans-serif;
  font-weight: 400;
  @apply bg-grey-lightest;
}


button{
  @apply outline-none;
}

input{
  @apply shadow-none border-solid;
}

.centered{
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  @apply absolute;
}

#000000

    

    

    #000000

    hsl(0, 0%, 0%)

    