
body{
  font-family : "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  @apply  bg-grey-lightest;
}

button{
  @apply outline-none;
}

input{
  @apply shadow-none border-solid;
}

.centered{
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  @apply absolute;
}

h1.uppercase{
  letter-spacing: 1.7px;
  @apply text-grey-darkest;
}

h2{
  @apply text-lg font-medium text-black my-5
}

.grayscale{
  filter:grayscale(1);
}